@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


$varela: 'Varela Round', sans-serif;
$roboto: 'Roboto', sans-serif;

$white: #ffffff;
$sidebar-width: 250px;
$sidebar-colour: #2D2E3D;

// Mixin for using Valera Round font
// To keep weight as default use 'default' as the param
@mixin Varela($color, $size, $weight) {
    font-family: 'Varela Round', sans-serif;
    font-size: $size;
    color: $color;

    @if $weight == 'default' {
        font-weight: 300;
    } @else {
        font-weight: $weight;
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'League Spartan', sans-serif;
}

.text-overflow {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.sidebar {
    height: 100%;
    width: $sidebar-width;
    background-color: $sidebar-colour;

    hr {
        border: none;
        height: 1px;
        background-color: #525471;
    }

    .placeholder {
        height: 30%;
    }
}

.board-list {

    padding: 20px;

    .title {
        font-family: $varela;
        font-size: 13px;
        color: #767AB5;
        letter-spacing: 1px;
    }

    .input {

        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;

        input {
            width: 100%;
            height: 30px;

            background-color: #414253;
            border: none;
            border-radius: 3px;
            padding-left: 5px;
            margin-right: 5px;

            color: #A8A8A8;

            &:focus {
                outline: 1px solid #5c5e75;
            }
        }
    
        button {
            display: flex;
            height: 30px;
            width: 30px;

            cursor: pointer;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #414253;
                border-radius: 3px;
            }
        }
    
    }

    .board-item {
        @extend .text-overflow;

        padding: 5px;
        color: #DCDCDC;
        width: 100%;

        &:hover {
            background-color: #3f4263;
            border-radius: 3px;
        }
    }

}

.current-user {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;

    padding: 10px;

    p {
        font-family: $varela;
        color: $white;
    }

    .icon {
        width: 32px;
        height: 32px;
        border-radius: 25px;
        background-color: #1D6569;
    
        .char {
            font-size: 18px;
            text-align: center;
            line-height: 32px;
        }
    }

    .name {
        font-size: 16px;
        align-self: center;
    }

}

.react-datepicker__tab-loop {
    position: absolute;
}

.datepicker-input {
    @include Varela(rgb(44, 44, 44), 14px, default);
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.date-picker {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;

    .datepicker-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .current-month {
        @include Varela(rgb(63, 63, 63), 16px, default);
        width: fit-content;

    }

    .change-month-button {
        height: 20px;
        width: 20px;
        padding: 0px;
        outline: 1px solid #b8b8b8;
        background-color: $white;
        border-radius: 5px;
        margin: 0px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            stroke: #585858;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .react-datepicker__day--today {
        @include Varela(rgb(63, 63, 63), 13px, default);

        outline: 1px solid rgb(165, 165, 165);
        // background-color: #a1a2af !important;
        border-radius: 5px;

        &:hover {
            background-color: #dadada;
            border-radius: 5px;
        }
    }

    .react-datepicker__day {
        @include Varela(rgb(63, 63, 63), 13px, default);

        &:hover {
            background-color: #dadada;
            border-radius: 5px;
        }
    }
    
    .react-datepicker__day--keyboard-selected {
        @include Varela(rgb(63, 63, 63), 13px, default);

        background-color: rgb(209, 209, 209);
        border-radius: 5px;
        outline: none;

    }
    
    .react-datepicker__day--outside-month {
        @include Varela(rgb(190, 190, 190), 13px, default);
    }
    
    .react-datepicker__day-name {
        @include Varela(rgb(129, 129, 129), 13px, default);
    }
    
    .react-datepicker__header{
        background-color: $white;
        @include Varela(black, 13px, default);
        border: none;
        padding-bottom: 0px;
    }

  }

.select-wrapper {
    position: relative;
    width: 200px;

    .select-control {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;

        font-size: 14px;
        
        color: rgb(44, 44, 44);
        text-align: left;

        cursor: pointer;
        outline: 1px solid rgb(97, 97, 97);
        background-color: $white;
        border-radius: 3px;

        &:focus {
            outline: 1px solid rgb(78, 141, 223);
            box-shadow: 0px 0px 3px 2px rgb(19, 94, 192);

            svg {
                transform: rotate(180deg);
            }
        }

        svg {
           margin-left: auto;
        }

    }
    
    .select-menu {
        position: absolute;
        z-index: 100;
        margin-top: 10px;
        width: 100%;
        border-radius: 3px;
        background-color: $white;
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
    }
    
    .select-option {
        padding: 10px;
        cursor: pointer;
        font-size: 14px;

        color: rgb(73, 73, 73);

        &:hover {
            background-color: #e8eaf8;
            border-radius: 3px;
        }
    }
}