@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: 'League Spartan', sans-serif;
}

.text-overflow, .board-list .board-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2D2E3D;
}

.sidebar hr {
  border: none;
  height: 1px;
  background-color: #525471;
}

.sidebar .placeholder {
  height: 30%;
}

.board-list {
  padding: 20px;
}

.board-list .title {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #767AB5;
  letter-spacing: 1px;
}

.board-list .input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.board-list .input input {
  width: 100%;
  height: 30px;
  background-color: #414253;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  margin-right: 5px;
  color: #A8A8A8;
}

.board-list .input input:focus {
  outline: 1px solid #5c5e75;
}

.board-list .input button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-list .input button:hover {
  background-color: #414253;
  border-radius: 3px;
}

.board-list .board-item {
  padding: 5px;
  color: #DCDCDC;
  width: 100%;
}

.board-list .board-item:hover {
  background-color: #3f4263;
  border-radius: 3px;
}

.current-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}

.current-user p {
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

.current-user .icon {
  width: 32px;
  height: 32px;
  border-radius: 25px;
  background-color: #1D6569;
}

.current-user .icon .char {
  font-size: 18px;
  text-align: center;
  line-height: 32px;
}

.current-user .name {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.datepicker-input {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 300;
  z-index: 100;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.date-picker {
  border: none;
  -webkit-box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
}

.date-picker .datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.date-picker .current-month {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.date-picker .change-month-button {
  height: 20px;
  width: 20px;
  padding: 0px;
  outline: 1px solid #b8b8b8;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.date-picker .change-month-button svg {
  stroke: #585858;
}

.date-picker .change-month-button:hover {
  background-color: #f0f0f0;
}

.date-picker .react-datepicker__day--today {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #3f3f3f;
  font-weight: 300;
  outline: 1px solid #a5a5a5;
  border-radius: 5px;
}

.date-picker .react-datepicker__day--today:hover {
  background-color: #dadada;
  border-radius: 5px;
}

.date-picker .react-datepicker__day {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #3f3f3f;
  font-weight: 300;
}

.date-picker .react-datepicker__day:hover {
  background-color: #dadada;
  border-radius: 5px;
}

.date-picker .react-datepicker__day--keyboard-selected {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #3f3f3f;
  font-weight: 300;
  background-color: #d1d1d1;
  border-radius: 5px;
  outline: none;
}

.date-picker .react-datepicker__day--outside-month {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #bebebe;
  font-weight: 300;
}

.date-picker .react-datepicker__day-name {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #818181;
  font-weight: 300;
}

.date-picker .react-datepicker__header {
  background-color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: black;
  font-weight: 300;
  border: none;
  padding-bottom: 0px;
}

.select-wrapper {
  position: relative;
  width: 200px;
}

.select-wrapper .select-control {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #2c2c2c;
  text-align: left;
  cursor: pointer;
  outline: 1px solid #616161;
  background-color: #ffffff;
  border-radius: 3px;
}

.select-wrapper .select-control:focus {
  outline: 1px solid #4e8ddf;
  -webkit-box-shadow: 0px 0px 3px 2px #135ec0;
          box-shadow: 0px 0px 3px 2px #135ec0;
}

.select-wrapper .select-control:focus svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-wrapper .select-control svg {
  margin-left: auto;
}

.select-wrapper .select-menu {
  position: absolute;
  z-index: 100;
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
}

.select-wrapper .select-option {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #494949;
}

.select-wrapper .select-option:hover {
  background-color: #e8eaf8;
  border-radius: 3px;
}
/*# sourceMappingURL=styles.css.map */