@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  color: #4B4B4B;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#root {
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

input {
  outline: none;
}

input:focus, input:hover {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: royalblue;
}

p {
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 50px;
}

.error-message {
  color: red;
}

.text-overflow, .board-list .board-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.w-100 {
  min-width: 100%;
  max-width: 100%;
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h-100 {
  min-height: 100%;
  max-height: 100%;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.align-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.align-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.soft-shadow {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pointer:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
}

.board-header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-header .board-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  font-weight: 500;
  max-width: 300px;
  padding-left: 30px;
  padding-right: 15px;
}

.board-header .rename-input {
  font-size: 18px;
  max-width: 300px;
  border-radius: 3px;
  padding: 5px;
  outline: 1px solid #0000003b;
  border: none;
  margin-right: 10px;
  font-weight: 500;
}

.board-header .rename-input:hover, .board-header .rename-input:focus {
  border: none;
  outline: 1px solid #0000003b;
}

.board-header .rename-container {
  padding-left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-header .header-menu {
  padding-left: 15px;
  gap: 15px;
}

.board-header .header-menu a {
  color: #292929;
  padding: 5px;
}

.board-header .header-menu .current {
  background-color: #f1f1f1;
  border-radius: 3px;
}

.board {
  width: calc(100% - 250px);
}

.board .new-category-button {
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  min-width: 250px;
}

.board .new-category-button:hover {
  border-radius: 3px;
  background-color: #e7e7e7;
}

.board .new-category-input:focus {
  height: 35px;
  width: 250px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(82, 82, 82, 0.8);
}

.board .board-content {
  height: calc(100% - 60px);
  padding: 10px 20px 10px 20px;
  background-color: #f7f7f7;
  overflow-x: auto;
}

.category {
  z-index: 1;
  min-width: 250px;
  max-width: 250px;
}

.category .category-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category .category-header .category-options {
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 4;
  border-radius: 3px;
  outline: 1px solid rgba(230, 230, 230, 0.8);
  background-color: #ffffff;
}

.category .category-header .category-title {
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2px;
}

.category .category-header .rename-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.category .category-header .rename-container .rename-input {
  font-weight: 500;
  width: 100px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 3px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  outline: 1px solid #0000003b;
  border: none;
  margin-right: 10px;
}

.category .category-header .rename-container .rename-input:hover, .category .category-header .rename-container .rename-input:focus {
  border: none;
  outline: 1px solid #0000003b;
}

.objective-options {
  position: absolute;
  top: 120%;
  right: 0px;
  z-index: 4;
  border-radius: 3px;
  outline: 1px solid rgba(230, 230, 230, 0.8);
  background-color: #ffffff;
}

.board-list {
  padding: 20px;
}

.board-list .title {
  font-size: 13px;
  color: #8e93d8;
  letter-spacing: 1px;
}

.board-list .input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.board-list .input input {
  width: 100%;
  height: 30px;
  background-color: #414253;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  margin-right: 5px;
  color: #A8A8A8;
}

.board-list .input input:focus {
  outline: 1px solid #5c5e75;
}

.board-list .input button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-list .input button:hover {
  background-color: #414253;
  border-radius: 3px;
}

.board-list .input button svg {
  fill: #8e93d8;
}

.board-list .board-item {
  padding: 5px;
  color: #DCDCDC;
  width: 100%;
}

.board-list .board-item:hover {
  background-color: #3f4263;
  border-radius: 3px;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2D2E3D;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #616385;
  border-radius: 50px;
}

.sidebar hr {
  border: none;
  height: 1px;
  background-color: #525471;
}

.sidebar .placeholder {
  height: 30%;
}

.sidebar .sign-out-button {
  color: #ffffff;
  font-size: 14px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 14px;
  padding: 0px;
  cursor: pointer;
}

.current-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}

.current-user p {
  color: #ffffff;
}

.current-user .icon {
  min-width: 32px;
  min-height: 32px;
  border-radius: 25px;
  background-color: #1D6569;
}

.current-user .icon .char {
  font-size: 18px;
  text-align: center;
  line-height: 32px;
}

.current-user .name {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.datepicker-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  padding: 7px;
  border-radius: 3px;
  width: 200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  background-color: #f0f0f0;
}

.datepicker-input:focus {
  outline: 1px solid #43455a;
}

.date-picker {
  border: none;
  -webkit-box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.date-picker .time-section {
  padding: 0px 15px 15px 15px;
}

.date-picker .time-section .time-label {
  font-size: 14px;
  color: #414253;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  line-height: 29px;
}

.date-picker .time-section .time-input {
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  width: 80px;
}

.date-picker .time-section .clear-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  padding: 0px;
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.date-picker .time-section .clear-button:hover {
  background-color: #f0f0f0;
}

.date-picker .datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px 10px 15px;
}

.date-picker .current-month {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.date-picker .change-month-button {
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 0px;
  outline: 1px solid #b8b8b8;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.date-picker .change-month-button svg {
  stroke: #585858;
}

.date-picker .change-month-button:hover {
  background-color: #f0f0f0;
}

.date-picker .react-datepicker__day--today {
  color: #414253;
  font-weight: 400;
  outline: 1px solid #a5a5a5;
  border-radius: 5px;
}

.date-picker .react-datepicker__day--today:hover {
  background-color: #dadada;
  border-radius: 5px;
}

.date-picker .react-datepicker__day {
  font-size: 14px;
  color: #414253;
}

.date-picker .react-datepicker__day:hover {
  background-color: #dadada;
  border-radius: 5px;
}

.date-picker .react-datepicker__day--keyboard-selected {
  font-size: 14px;
  color: #414253;
  background-color: #d1d1d1;
  border-radius: 5px;
  outline: none;
}

.date-picker .react-datepicker__day--outside-month {
  font-size: 14px;
  color: #414253;
}

.date-picker .react-datepicker__day-name {
  font-size: 14px;
  color: #414253;
}

.date-picker .react-datepicker__header {
  background-color: #ffffff;
  border: none;
  padding-bottom: 0px;
}

.select-wrapper {
  position: relative;
  width: 200px;
}

.select-wrapper .select-control {
  width: 100%;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3a3a3a;
  text-align: left;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.select-wrapper .select-control:focus {
  outline: 1px solid #43455a;
}

.select-wrapper .select-control:focus svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-wrapper .select-control svg {
  margin-left: auto;
}

.select-wrapper .select-menu {
  position: absolute;
  z-index: 100;
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
}

.select-wrapper .select-option {
  padding: 10px;
  cursor: pointer;
  color: #494949;
}

.select-wrapper .select-option:hover {
  background-color: #e8eaf8;
  border-radius: 3px;
}

.modal-background {
  background-color: #3a3a3a38;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-contents {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: auto;
  max-height: 90%;
  overflow-y: auto;
  padding: 50px;
  z-index: 6;
  border-radius: 5px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.6) 0px 0px 80px 10px;
          box-shadow: rgba(99, 99, 99, 0.6) 0px 0px 80px 10px;
  background-color: #ffffff;
}

.modal-contents .label {
  font-size: 14px;
  font-weight: 500;
  color: #43455a;
}

.modal-contents .objective-name-input {
  width: 100%;
  border: none;
  padding: 7px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.modal-contents .objective-name-input:focus {
  outline: 1px solid #43455a;
}

.modal-contents .notes-input {
  width: 100%;
  min-height: 220px;
  resize: none;
  border: none;
  padding: 10px;
  color: #3a3a3a;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.modal-contents .notes-input:focus {
  outline: 1px solid #43455a;
}

.modal-contents .notes-input::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.deleted-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  padding: 15px;
  gap: 15px;
  background-color: #f7f7f7;
  overflow-y: auto;
}

.deleted-objective {
  width: auto;
  height: 100px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deleted-objective p {
  max-height: 80px;
  margin-right: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleted-objective .objective-title {
  font-size: 14px;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleted-objective .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-left: auto;
}

.deleted-objective .options button {
  width: 100px;
  border-radius: 3px;
  background-color: #eeeeee;
  cursor: pointer;
}

.deleted-objective .options button:hover {
  background-color: #dbdbdb;
}

.due-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.due-modal h1 {
  font-size: 20px;
}

.due-modal .due-objective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  max-height: 110px;
  outline: 1px solid #dbdbdb;
}

.due-modal .due-objective .title {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=styles.css.map */