@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --sidebar-width: 250px;
    --sidebar-height: 100vh;
    --sidebar-colour: #222222;
    --header-height: 60px;
    --main-height: 100vh;
    --main-width: calc(100% - var(--sidebar-width));
    --board-content-height: calc(var(--main-height) - var(--header-height));
    --main-white: #FEFEFE;
    --font-dark: #4B4B4B;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
}

#root {
    height: 100vh;
}

body,html {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--font-dark);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

input:focus, input:hover {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.white {
    color: var(--main-white);
}

.md-title {
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 30px;
}

.light {
    font-weight: 300;
}

.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.gap-15 {
    gap: 15px;
}

.w-100 {
    min-width: 100%;
}

.w-auto {
    width: auto;
}

.w-fit {
    width: fit-content;
}

.h-100 {
    max-height: 100%;
}

.h-auto {
    height: auto;
}

.h-fit {
    height: fit-content;
}

.align-end {
    align-self: end;
}

.align-center {
    align-self: center;
}

.align-start {
    align-self: start;
}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.soft-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category {
    z-index: 1;
    min-width: 250px;
    max-width: 250px;
}

.category-options{
    position: absolute;
    right: 0px;
    top: 35px;

    z-index: 4;
    border-radius: 3px;
    outline: 1px solid rgba(230, 230, 230, 0.8);
    background-color: var(--main-white);
}

.objective-options{
    position: absolute;
    right: 10px;
    top: 40px;

    z-index: 4;
    border-radius: 3px;
    outline: 1px solid rgba(230, 230, 230, 0.8);
    background-color: var(--main-white);
}

.category-options-item {
    padding: 2px 10px 2px 10px;
}
.category-options-item:hover {
    background-color: rgba(230, 230, 230, 1);
}

.category-header {
    position: relative;
}

.cat-content {
    z-index: 2;
    align-content: flex-start;
    overflow-y: auto;
    height: calc(100% - 65px);
}

.new-objective-input {
    
    padding: 0px;
    font-weight: var(--font-regular);
    border: none;
}

.new-objective-button {
    height: 40px;

    border: none;

    border-radius: 0px 0px 3px 3px;
    background-color: rgb(224, 224, 224);

    /* Font */
    font-size: 14px;
    font-weight: var(--font-medium);
}

.objective {
    position: relative;

    z-index: 3;
    min-height: 150px;
    background-color: var(--main-white);
    border-radius: 5px;
}

.objective:hover{
        outline: 1px solid rgba(116, 116, 116, 0.6);
}

.objective-options-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar {
    height: 100%;
    min-width: var(--sidebar-width);
    background-color: var(--sidebar-colour);

    color: white;
}

.board {
    padding: 10px 20px 10px 20px;
    background-color: #f7f7f7;
    width: calc(100% - var(--sidebar-width) - 40px);

    overflow-x: auto;
}

.main {
    height: 100%;
    width: 100%;
}

.board-item-icon {
    width: 30px;
    height: 30px;

    line-height: 30px;
    text-align: center;
    vertical-align: middle;

    margin: 2px 10px 2px 10px;

    color: var(--main-white);
    background-color: rgb(46, 134, 75);
    border-radius: 15px;
}

.board-item:hover {
    background-color: #3a3a3a;
}

.new-board-input {

    padding: 5px;

    border-radius: 3px;
    border: none;
    outline: none;
}

.new-board-button {
    padding: 5px;

    border-radius: 3px;
    background-color: #44434d;
}

.new-category-input:focus {
    height: 30px;
    width: 250px;

    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: transparent;

    border-radius: 5px;
    border: 1px solid rgba(46, 46, 46, 0.8);
}

.new-category-button {
    z-index: 3;

    margin: 10px;

    min-width: 250px;
}

.new-category-button:hover {
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}

.icon-button:hover {
    z-index: 3;
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}