@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --sidebar-width: 250px;
    --sidebar-height: 100vh;
    --sidebar-colour: #222222;
    --header-height: 60px;
    --main-height: 100vh;
    --main-width: calc(100% - var(--sidebar-width));
    --board-content-height: calc(var(--main-height) - var(--header-height));
    --main-white: #FEFEFE;
    --font-dark: #4B4B4B;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--font-dark);
    font-size: 16px;

    margin: 0px;
}

#root {
    height: 100vh;
}

body,html {
    margin: 0px;
    padding: 0px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

input:focus, input:hover {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

p {
    overflow-wrap: break-word;
}

.a-blue {
    color: royalblue;
}

.red {
    color: red;
}

.white {
    color: var(--main-white);
}

.md-title {
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 30px;
}

.light {
    font-weight: 300;
}

.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.w-100 {
    min-width: 100%;
    max-width: 100%;
}

.w-auto {
    width: auto;
}

.w-fit {
    width: fit-content;
}

.h-100 {
    min-height: 100%;
    max-height: 100%;
}

.h-auto {
    height: auto;
}

.h-fit {
    height: fit-content;
}

.align-end {
    align-self: end;
}

.align-center {
    align-self: center;
}

.align-start {
    align-self: start;
}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.soft-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pointer:hover {
    cursor: pointer;
}

.sidebar {
    height: 100%;
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background-color: var(--sidebar-colour);

    color: white;
}

.main {
    height: 100%;
    width: 100%;
}

.board {
    width: calc(100% - var(--sidebar-width));
}

.board-header {
    height: var(--header-height);
    background-color: var(--main-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    align-items: center;
    
}

.board-title {
    height: fit-content;
    font-size: 18px;

    max-width: 200px;
    padding-left: 30px;
    padding-right: 15px;
}

.text-overflow {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-content {
    height: calc(100% - var(--header-height));
    padding: 10px 20px 10px 20px;
    background-color: #f7f7f7;
    overflow-x: auto;
}

.category {
    z-index: 1;
    min-width: 250px;
    max-width: 250px;
}

.category-options{
    position: absolute;
    right: 0px;
    top: 35px;

    z-index: 4;
    border-radius: 3px;
    outline: 1px solid rgba(230, 230, 230, 0.8);
    background-color: var(--main-white);
}

.objective-options{
    top: 120%;
    right: 0px;
    z-index: 4;
    border-radius: 3px;
    outline: 1px solid rgba(230, 230, 230, 0.8);
    background-color: var(--main-white);
}

.category-options-item {
    padding: 2px 10px 2px 10px;
}
.category-options-item:hover {
    background-color: rgba(230, 230, 230, 1);
}

.exit-button {
    right: 10px;
    top: 10px;

    height: 24px;
    width: 24px;
    z-index: 9;
}

.category-header {
    position: relative;
}

.cat-content {
    z-index: 2;
    align-content: flex-start;
    overflow-y: auto;
    height: calc(100% - 65px);
}

.new-objective-input {
    
    font-weight: var(--font-regular);
    border: none;
}

.new-objective-button {
    height: 40px;

    border: none;

    border-radius: 0px 0px 3px 3px;
    background-color: rgb(224, 224, 224);

    /* Font */
    font-size: 14px;
    font-weight: var(--font-medium);
}

.objective {
    
    position: relative;

    z-index: 3;
    min-height: 150px;
    background-color: var(--main-white);
    border-radius: 5px;
}

.objective:hover{
        outline: 1px solid rgba(116, 116, 116, 0.6);
}

.objective-options-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.board-item-icon {
    min-width: 30px;
    height: 30px;

    line-height: 30px;
    text-align: center;
    vertical-align: middle;

    margin: 2px 10px 2px 10px;

    color: var(--main-white);
    background-color: rgb(46, 134, 75);
    border-radius: 15px;
}

.board-item:hover {
    background-color: #3a3a3a;
}

.new-board-input {

    padding: 5px;

    border-radius: 3px;
    border: none;
    outline: none;
}

.new-board-button {
    padding: 5px;

    border-radius: 3px;
    background-color: #44434d;
}

.new-category-input:focus {
    height: 30px;
    width: 250px;

    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: transparent;

    border-radius: 5px;
    border: 1px solid rgba(46, 46, 46, 0.8);
}

.new-category-button {
    z-index: 3;

    margin: 10px;

    min-width: 250px;
}

.new-category-button:hover {
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}

.icon-button {
    display: flex;
    align-items: center;
}

.icon-button:hover {
    z-index: 3;
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}

.credentials-form {
    justify-content: center;
    align-items: center;
}

/* 

<-- Sign Up Page Styles

*/

.sign-button {
    height: 40px;
    
    background-color: rgb(82, 94, 201);
    color: white;

    border: none;
}

.sign-label {
    color: rgb(39, 39, 39);
}

.sign-input {
    border: 1px solid rgb(160, 160, 160);
    height: 40px;
}

.sign-input:hover, .sign-input:focus, .sign-button:hover {
    outline: 1px solid rgb(65, 65, 65);
}

.w-250 {
    width: 250px;
}

.datepicker {
    border: none;
}

.datepicker:hover {
    outline: 1px solid rgb(104, 104, 104);
    border-radius: 2px;
}



.od-borderless-input {
    font-weight: 500;
    font-size: 18px;
    width: 500px;
    border: none;
    padding: 5px;
}

.od-borderless-input:hover {
   outline: 1px solid #4B4B4B;
}

.od-borderless-input:focus {
    outline: 2px solid #4b4b4b;
 }

 .od-details-input {
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    outline: 1px solid rgba(56, 56, 56, 0.459);
 }

.select {
    width: 180px;
    height: 32px;
    border: none;
    border-radius: 3px;

    outline: 1px solid rgba(56, 56, 56, 0.459);
    background-color: rgb(243, 243, 243);
  }

.select-label {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
}

.select:focus {
    border: none;
    outline: 2px solid #4b4b4b;
}

.select option {
    margin: 10px;
  }

.modal-background {
    background-color: #3a3a3a38;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.objective-details-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;

    z-index: 110;
    border-radius: 3px;
    outline: 1px solid rgba(230, 230, 230, 0.8);
    background-color: var(--main-white);
}